.sF-file .sF-file-icon.sF-filetype-3gp {
    content: url(icons/Icons16x16/file_extension_3gp.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-3gp {
    content: url(icons/Icons32x32/file_extension_3gp.png);
}

.sF-file .sF-file-icon.sF-filetype-7z {
    content: url(icons/Icons16x16/file_extension_7z.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-7z {
    content: url(icons/Icons32x32/file_extension_7z.png);
}

.sF-file .sF-file-icon.sF-filetype-ace {
    content: url(icons/Icons16x16/file_extension_ace.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ace {
    content: url(icons/Icons32x32/file_extension_ace.png);
}

.sF-file .sF-file-icon.sF-filetype-ai {
    content: url(icons/Icons16x16/file_extension_ai.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ai {
    content: url(icons/Icons32x32/file_extension_ai.png);
}

.sF-file .sF-file-icon.sF-filetype-aif {
    content: url(icons/Icons16x16/file_extension_aif.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-aif {
    content: url(icons/Icons32x32/file_extension_aif.png);
}

.sF-file .sF-file-icon.sF-filetype-aiff {
    content: url(icons/Icons16x16/file_extension_aiff.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-aiff {
    content: url(icons/Icons32x32/file_extension_aiff.png);
}

.sF-file .sF-file-icon.sF-filetype-amr {
    content: url(icons/Icons16x16/file_extension_amr.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-amr {
    content: url(icons/Icons32x32/file_extension_amr.png);
}

.sF-file .sF-file-icon.sF-filetype-asf {
    content: url(icons/Icons16x16/file_extension_asf.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-asf {
    content: url(icons/Icons32x32/file_extension_asf.png);
}

.sF-file .sF-file-icon.sF-filetype-asx {
    content: url(icons/Icons16x16/file_extension_asx.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-asx {
    content: url(icons/Icons32x32/file_extension_asx.png);
}

.sF-file .sF-file-icon.sF-filetype-bat {
    content: url(icons/Icons16x16/file_extension_bat.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-bat {
    content: url(icons/Icons32x32/file_extension_bat.png);
}

.sF-file .sF-file-icon.sF-filetype-bin {
    content: url(icons/Icons16x16/file_extension_bin.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-bin {
    content: url(icons/Icons32x32/file_extension_bin.png);
}

.sF-file .sF-file-icon.sF-filetype-bmp {
    content: url(icons/Icons16x16/file_extension_bmp.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-bmp {
    content: url(icons/Icons32x32/file_extension_bmp.png);
}

.sF-file .sF-file-icon.sF-filetype-bup {
    content: url(icons/Icons16x16/file_extension_bup.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-bup {
    content: url(icons/Icons32x32/file_extension_bup.png);
}

.sF-file .sF-file-icon.sF-filetype-cab {
    content: url(icons/Icons16x16/file_extension_cab.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cab {
    content: url(icons/Icons32x32/file_extension_cab.png);
}

.sF-file .sF-file-icon.sF-filetype-cbr {
    content: url(icons/Icons16x16/file_extension_cbr.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cbr {
    content: url(icons/Icons32x32/file_extension_cbr.png);
}

.sF-file .sF-file-icon.sF-filetype-cda {
    content: url(icons/Icons16x16/file_extension_cda.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cda {
    content: url(icons/Icons32x32/file_extension_cda.png);
}

.sF-file .sF-file-icon.sF-filetype-cdl {
    content: url(icons/Icons16x16/file_extension_cdl.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cdl {
    content: url(icons/Icons32x32/file_extension_cdl.png);
}

.sF-file .sF-file-icon.sF-filetype-cdr {
    content: url(icons/Icons16x16/file_extension_cdr.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cdr {
    content: url(icons/Icons32x32/file_extension_cdr.png);
}

.sF-file .sF-file-icon.sF-filetype-chm {
    content: url(icons/Icons16x16/file_extension_chm.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-chm {
    content: url(icons/Icons32x32/file_extension_chm.png);
}

.sF-file .sF-file-icon.sF-filetype-dat {
    content: url(icons/Icons16x16/file_extension_dat.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-dat {
    content: url(icons/Icons32x32/file_extension_dat.png);
}

.sF-file .sF-file-icon.sF-filetype-divx {
    content: url(icons/Icons16x16/file_extension_divx.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-divx {
    content: url(icons/Icons32x32/file_extension_divx.png);
}

.sF-file .sF-file-icon.sF-filetype-dll {
    content: url(icons/Icons16x16/file_extension_dll.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-dll {
    content: url(icons/Icons32x32/file_extension_dll.png);
}

.sF-file .sF-file-icon.sF-filetype-dmg {
    content: url(icons/Icons16x16/file_extension_dmg.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-dmg {
    content: url(icons/Icons32x32/file_extension_dmg.png);
}

.sF-file .sF-file-icon.sF-filetype-doc {
    content: url(icons/Icons16x16/file_extension_doc.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-doc {
    content: url(icons/Icons32x32/file_extension_doc.png);
}

.sF-file .sF-file-icon.sF-filetype-dss {
    content: url(icons/Icons16x16/file_extension_dss.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-dss {
    content: url(icons/Icons32x32/file_extension_dss.png);
}

.sF-file .sF-file-icon.sF-filetype-dvf {
    content: url(icons/Icons16x16/file_extension_dvf.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-dvf {
    content: url(icons/Icons32x32/file_extension_dvf.png);
}

.sF-file .sF-file-icon.sF-filetype-dwg {
    content: url(icons/Icons16x16/file_extension_dwg.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-dwg {
    content: url(icons/Icons32x32/file_extension_dwg.png);
}

.sF-file .sF-file-icon.sF-filetype-eml {
    content: url(icons/Icons16x16/file_extension_eml.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-eml {
    content: url(icons/Icons32x32/file_extension_eml.png);
}

.sF-file .sF-file-icon.sF-filetype-eps {
    content: url(icons/Icons16x16/file_extension_eps.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-eps {
    content: url(icons/Icons32x32/file_extension_eps.png);
}

.sF-file .sF-file-icon.sF-filetype-exe {
    content: url(icons/Icons16x16/file_extension_exe.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-exe {
    content: url(icons/Icons32x32/file_extension_exe.png);
}

.sF-file .sF-file-icon.sF-filetype-fla {
    content: url(icons/Icons16x16/file_extension_fla.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-fla {
    content: url(icons/Icons32x32/file_extension_fla.png);
}

.sF-file .sF-file-icon.sF-filetype-flv {
    content: url(icons/Icons16x16/file_extension_flv.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-flv {
    content: url(icons/Icons32x32/file_extension_flv.png);
}

.sF-file .sF-file-icon.sF-filetype-gif {
    content: url(icons/Icons16x16/file_extension_gif.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-gif {
    content: url(icons/Icons32x32/file_extension_gif.png);
}

.sF-file .sF-file-icon.sF-filetype-gz {
    content: url(icons/Icons16x16/file_extension_gz.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-gz {
    content: url(icons/Icons32x32/file_extension_gz.png);
}

.sF-file .sF-file-icon.sF-filetype-hqx {
    content: url(icons/Icons16x16/file_extension_hqx.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-hqx {
    content: url(icons/Icons32x32/file_extension_hqx.png);
}

.sF-file .sF-file-icon.sF-filetype-htm {
    content: url(icons/Icons16x16/file_extension_htm.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-htm {
    content: url(icons/Icons32x32/file_extension_htm.png);
}

.sF-file .sF-file-icon.sF-filetype-html {
    content: url(icons/Icons16x16/file_extension_html.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-html {
    content: url(icons/Icons32x32/file_extension_html.png);
}

.sF-file .sF-file-icon.sF-filetype-ifo {
    content: url(icons/Icons16x16/file_extension_ifo.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ifo {
    content: url(icons/Icons32x32/file_extension_ifo.png);
}

.sF-file .sF-file-icon.sF-filetype-indd {
    content: url(icons/Icons16x16/file_extension_indd.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-indd {
    content: url(icons/Icons32x32/file_extension_indd.png);
}

.sF-file .sF-file-icon.sF-filetype-iso {
    content: url(icons/Icons16x16/file_extension_iso.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-iso {
    content: url(icons/Icons32x32/file_extension_iso.png);
}

.sF-file .sF-file-icon.sF-filetype-jar {
    content: url(icons/Icons16x16/file_extension_jar.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-jar {
    content: url(icons/Icons32x32/file_extension_jar.png);
}

.sF-file .sF-file-icon.sF-filetype-jpeg {
    content: url(icons/Icons16x16/file_extension_jpeg.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-jpeg {
    content: url(icons/Icons32x32/file_extension_jpeg.png);
}

.sF-file .sF-file-icon.sF-filetype-jpg {
    content: url(icons/Icons16x16/file_extension_jpg.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-jpg {
    content: url(icons/Icons32x32/file_extension_jpg.png);
}

.sF-file .sF-file-icon.sF-filetype-lnk {
    content: url(icons/Icons16x16/file_extension_lnk.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-lnk {
    content: url(icons/Icons32x32/file_extension_lnk.png);
}

.sF-file .sF-file-icon.sF-filetype-log {
    content: url(icons/Icons16x16/file_extension_log.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-log {
    content: url(icons/Icons32x32/file_extension_log.png);
}

.sF-file .sF-file-icon.sF-filetype-m4a {
    content: url(icons/Icons16x16/file_extension_m4a.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-m4a {
    content: url(icons/Icons32x32/file_extension_m4a.png);
}

.sF-file .sF-file-icon.sF-filetype-m4b {
    content: url(icons/Icons16x16/file_extension_m4b.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-m4b {
    content: url(icons/Icons32x32/file_extension_m4b.png);
}

.sF-file .sF-file-icon.sF-filetype-m4p {
    content: url(icons/Icons16x16/file_extension_m4p.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-m4p {
    content: url(icons/Icons32x32/file_extension_m4p.png);
}

.sF-file .sF-file-icon.sF-filetype-m4v {
    content: url(icons/Icons16x16/file_extension_m4v.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-m4v {
    content: url(icons/Icons32x32/file_extension_m4v.png);
}

.sF-file .sF-file-icon.sF-filetype-mcd {
    content: url(icons/Icons16x16/file_extension_mcd.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mcd {
    content: url(icons/Icons32x32/file_extension_mcd.png);
}

.sF-file .sF-file-icon.sF-filetype-mdb {
    content: url(icons/Icons16x16/file_extension_mdb.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mdb {
    content: url(icons/Icons32x32/file_extension_mdb.png);
}

.sF-file .sF-file-icon.sF-filetype-mid {
    content: url(icons/Icons16x16/file_extension_mid.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mid {
    content: url(icons/Icons32x32/file_extension_mid.png);
}

.sF-file .sF-file-icon.sF-filetype-mov {
    content: url(icons/Icons16x16/file_extension_mov.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mov {
    content: url(icons/Icons32x32/file_extension_mov.png);
}

.sF-file .sF-file-icon.sF-filetype-mp2 {
    content: url(icons/Icons16x16/file_extension_mp2.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mp2 {
    content: url(icons/Icons32x32/file_extension_mp2.png);
}

.sF-file .sF-file-icon.sF-filetype-mp4 {
    content: url(icons/Icons16x16/file_extension_mp4.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mp4 {
    content: url(icons/Icons32x32/file_extension_mp4.png);
}

.sF-file .sF-file-icon.sF-filetype-mpeg {
    content: url(icons/Icons16x16/file_extension_mpeg.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mpeg {
    content: url(icons/Icons32x32/file_extension_mpeg.png);
}

.sF-file .sF-file-icon.sF-filetype-mpg {
    content: url(icons/Icons16x16/file_extension_mpg.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mpg {
    content: url(icons/Icons32x32/file_extension_mpg.png);
}

.sF-file .sF-file-icon.sF-filetype-msi {
    content: url(icons/Icons16x16/file_extension_msi.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-msi {
    content: url(icons/Icons32x32/file_extension_msi.png);
}

.sF-file .sF-file-icon.sF-filetype-mswmm {
    content: url(icons/Icons16x16/file_extension_mswmm.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mswmm {
    content: url(icons/Icons32x32/file_extension_mswmm.png);
}

.sF-file .sF-file-icon.sF-filetype-ogg {
    content: url(icons/Icons16x16/file_extension_ogg.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ogg {
    content: url(icons/Icons32x32/file_extension_ogg.png);
}

.sF-file .sF-file-icon.sF-filetype-pdf {
    content: url(icons/Icons16x16/file_extension_pdf.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pdf {
    content: url(icons/Icons32x32/file_extension_pdf.png);
}

.sF-file .sF-file-icon.sF-filetype-png {
    content: url(icons/Icons16x16/file_extension_png.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-png {
    content: url(icons/Icons32x32/file_extension_png.png);
}

.sF-file .sF-file-icon.sF-filetype-pps {
    content: url(icons/Icons16x16/file_extension_pps.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pps {
    content: url(icons/Icons32x32/file_extension_pps.png);
}

.sF-file .sF-file-icon.sF-filetype-ps {
    content: url(icons/Icons16x16/file_extension_ps.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ps {
    content: url(icons/Icons32x32/file_extension_ps.png);
}

.sF-file .sF-file-icon.sF-filetype-psd {
    content: url(icons/Icons16x16/file_extension_psd.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-psd {
    content: url(icons/Icons32x32/file_extension_psd.png);
}

.sF-file .sF-file-icon.sF-filetype-pst {
    content: url(icons/Icons16x16/file_extension_pst.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pst {
    content: url(icons/Icons32x32/file_extension_pst.png);
}

.sF-file .sF-file-icon.sF-filetype-ptb {
    content: url(icons/Icons16x16/file_extension_ptb.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ptb {
    content: url(icons/Icons32x32/file_extension_ptb.png);
}

.sF-file .sF-file-icon.sF-filetype-pub {
    content: url(icons/Icons16x16/file_extension_pub.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pub {
    content: url(icons/Icons32x32/file_extension_pub.png);
}

.sF-file .sF-file-icon.sF-filetype-qbb {
    content: url(icons/Icons16x16/file_extension_qbb.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-qbb {
    content: url(icons/Icons32x32/file_extension_qbb.png);
}

.sF-file .sF-file-icon.sF-filetype-qbw {
    content: url(icons/Icons16x16/file_extension_qbw.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-qbw {
    content: url(icons/Icons32x32/file_extension_qbw.png);
}

.sF-file .sF-file-icon.sF-filetype-qxd {
    content: url(icons/Icons16x16/file_extension_qxd.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-qxd {
    content: url(icons/Icons32x32/file_extension_qxd.png);
}

.sF-file .sF-file-icon.sF-filetype-ram {
    content: url(icons/Icons16x16/file_extension_ram.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ram {
    content: url(icons/Icons32x32/file_extension_ram.png);
}

.sF-file .sF-file-icon.sF-filetype-rar {
    content: url(icons/Icons16x16/file_extension_rar.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rar {
    content: url(icons/Icons32x32/file_extension_rar.png);
}

.sF-file .sF-file-icon.sF-filetype-rm {
    content: url(icons/Icons16x16/file_extension_rm.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rm {
    content: url(icons/Icons32x32/file_extension_rm.png);
}

.sF-file .sF-file-icon.sF-filetype-rmvb {
    content: url(icons/Icons16x16/file_extension_rmvb.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rmvb {
    content: url(icons/Icons32x32/file_extension_rmvb.png);
}

.sF-file .sF-file-icon.sF-filetype-rtf {
    content: url(icons/Icons16x16/file_extension_rtf.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rtf {
    content: url(icons/Icons32x32/file_extension_rtf.png);
}

.sF-file .sF-file-icon.sF-filetype-sea {
    content: url(icons/Icons16x16/file_extension_sea.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-sea {
    content: url(icons/Icons32x32/file_extension_sea.png);
}

.sF-file .sF-file-icon.sF-filetype-ses {
    content: url(icons/Icons16x16/file_extension_ses.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ses {
    content: url(icons/Icons32x32/file_extension_ses.png);
}

.sF-file .sF-file-icon.sF-filetype-sit {
    content: url(icons/Icons16x16/file_extension_sit.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-sit {
    content: url(icons/Icons32x32/file_extension_sit.png);
}

.sF-file .sF-file-icon.sF-filetype-sitx {
    content: url(icons/Icons16x16/file_extension_sitx.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-sitx {
    content: url(icons/Icons32x32/file_extension_sitx.png);
}

.sF-file .sF-file-icon.sF-filetype-ss {
    content: url(icons/Icons16x16/file_extension_ss.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ss {
    content: url(icons/Icons32x32/file_extension_ss.png);
}

.sF-file .sF-file-icon.sF-filetype-swf {
    content: url(icons/Icons16x16/file_extension_swf.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-swf {
    content: url(icons/Icons32x32/file_extension_swf.png);
}

.sF-file .sF-file-icon.sF-filetype-tgz {
    content: url(icons/Icons16x16/file_extension_tgz.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-tgz {
    content: url(icons/Icons32x32/file_extension_tgz.png);
}

.sF-file .sF-file-icon.sF-filetype-thm {
    content: url(icons/Icons16x16/file_extension_thm.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-thm {
    content: url(icons/Icons32x32/file_extension_thm.png);
}

.sF-file .sF-file-icon.sF-filetype-tif {
    content: url(icons/Icons16x16/file_extension_tif.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-tif {
    content: url(icons/Icons32x32/file_extension_tif.png);
}

.sF-file .sF-file-icon.sF-filetype-tmp {
    content: url(icons/Icons16x16/file_extension_tmp.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-tmp {
    content: url(icons/Icons32x32/file_extension_tmp.png);
}

.sF-file .sF-file-icon.sF-filetype-torrent {
    content: url(icons/Icons16x16/file_extension_torrent.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-torrent {
    content: url(icons/Icons32x32/file_extension_torrent.png);
}

.sF-file .sF-file-icon.sF-filetype-ttf {
    content: url(icons/Icons16x16/file_extension_ttf.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ttf {
    content: url(icons/Icons32x32/file_extension_ttf.png);
}

.sF-file .sF-file-icon.sF-filetype-txt {
    content: url(icons/Icons16x16/file_extension_txt.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-txt {
    content: url(icons/Icons32x32/file_extension_txt.png);
}

.sF-file .sF-file-icon.sF-filetype-vcd {
    content: url(icons/Icons16x16/file_extension_vcd.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-vcd {
    content: url(icons/Icons32x32/file_extension_vcd.png);
}

.sF-file .sF-file-icon.sF-filetype-vob {
    content: url(icons/Icons16x16/file_extension_vob.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-vob {
    content: url(icons/Icons32x32/file_extension_vob.png);
}

.sF-file .sF-file-icon.sF-filetype-wav {
    content: url(icons/Icons16x16/file_extension_wav.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-wav {
    content: url(icons/Icons32x32/file_extension_wav.png);
}

.sF-file .sF-file-icon.sF-filetype-wma {
    content: url(icons/Icons16x16/file_extension_wma.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-wma {
    content: url(icons/Icons32x32/file_extension_wma.png);
}

.sF-file .sF-file-icon.sF-filetype-wmv {
    content: url(icons/Icons16x16/file_extension_wmv.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-wmv {
    content: url(icons/Icons32x32/file_extension_wmv.png);
}

.sF-file .sF-file-icon.sF-filetype-wps {
    content: url(icons/Icons16x16/file_extension_wps.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-wps {
    content: url(icons/Icons32x32/file_extension_wps.png);
}

.sF-file .sF-file-icon.sF-filetype-xls {
    content: url(icons/Icons16x16/file_extension_xls.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xls {
    content: url(icons/Icons32x32/file_extension_xls.png);
}

.sF-file .sF-file-icon.sF-filetype-xpi {
    content: url(icons/Icons16x16/file_extension_xpi.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xpi {
    content: url(icons/Icons32x32/file_extension_xpi.png);
}

.sF-file .sF-file-icon.sF-filetype-zip {
    content: url(icons/Icons16x16/file_extension_zip.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-zip {
    content: url(icons/Icons32x32/file_extension_zip.png);
}

.sF-file .sF-file-icon.sF-filetype-as {
    content: url(icons/Icons16x16/page_white_actionscript.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-as {
    content: url(icons/Icons32x32/page_white_actionscript.png);
}

.sF-file .sF-file-icon.sF-filetype-c {
    content: url(icons/Icons16x16/page_white_c.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-c {
    content: url(icons/Icons32x32/page_white_c.png);
}

.sF-file .sF-file-icon.sF-filetype-r,
.sF-file .sF-file-icon.sF-filetype-R,
.sF-file .sF-file-icon.sF-filetype-lua,
.sF-file .sF-file-icon.sF-filetype-m,
.sF-file .sF-file-icon.sF-filetype-pl,
.sF-file .sF-file-icon.sF-filetype-py,
.sF-file .sF-file-icon.sF-filetype-sh,
.sF-file .sF-file-icon.sF-filetype-js,
.sF-file .sF-file-icon.sF-filetype-css,
.sF-file .sF-file-icon.sF-filetype-fs,
.sF-file .sF-file-icon.sF-filetype-fsx,
.sF-file .sF-file-icon.sF-filetype-el,
.sF-file .sF-file-icon.sF-filetype-lisp,
.sF-file .sF-file-icon.sF-filetype-cl,
.sF-file .sF-file-icon.sF-filetype-lsp,
.sF-file .sF-file-icon.sF-filetype-pas,
.sF-file .sF-file-icon.sF-filetype-s,
.sF-file .sF-file-icon.sF-filetype-m,
.sF-file .sF-file-icon.sF-filetype-f,
.sF-file .sF-file-icon.sF-filetype-for,
.sF-file .sF-file-icon.sF-filetype-f90 {
    content: url(icons/Icons16x16/page_white_code.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-r,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-R,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-lua,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-m,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pl,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-py,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-sh,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-js,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-css,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-fs,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-fsx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-el,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-lisp,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cl,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-lsp,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pas,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-s,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-m,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-f,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-for,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-f90 {
    content: url(icons/Icons32x32/page_white_code.png);
}

.sF-file .sF-file-icon.sF-filetype-C,
.sF-file .sF-file-icon.sF-filetype-cc,
.sF-file .sF-file-icon.sF-filetype-cpp,
.sF-file .sF-file-icon.sF-filetype-CPP,
.sF-file .sF-file-icon.sF-filetype-c++,
.sF-file .sF-file-icon.sF-filetype-cp,
.sF-file .sF-file-icon.sF-filetype-cxx {
    content: url(icons/Icons16x16/page_white_cplusplus.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-C,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cc,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cpp,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-CPP,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-c++,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cp,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cxx {
    content: url(icons/Icons32x32/page_white_cplusplus.png);
}

.sF-file .sF-file-icon.sF-filetype-cs {
    content: url(icons/Icons16x16/page_white_csharp.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cs {
    content: url(icons/Icons32x32/page_white_csharp.png);
}

.sF-file .sF-file-icon.sF-filetype-java,
.sF-file .sF-file-icon.sF-filetype-class {
    content: url(icons/Icons16x16/page_white_cup.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-java,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-class {
    content: url(icons/Icons32x32/page_white_cup.png);
}

.sF-file .sF-file-icon.sF-filetype-4db,
.sF-file .sF-file-icon.sF-filetype-4dd,
.sF-file .sF-file-icon.sF-filetype-4dindx,
.sF-file .sF-file-icon.sF-filetype-4dindy,
.sF-file .sF-file-icon.sF-filetype-4dr,
.sF-file .sF-file-icon.sF-filetype-adt,
.sF-file .sF-file-icon.sF-filetype-apr,
.sF-file .sF-file-icon.sF-filetype-box,
.sF-file .sF-file-icon.sF-filetype-chml,
.sF-file .sF-file-icon.sF-filetype-daf,
.sF-file .sF-file-icon.sF-filetype-db,
.sF-file .sF-file-icon.sF-filetype-dbf,
.sF-file .sF-file-icon.sF-filetype-eap,
.sF-file .sF-file-icon.sF-filetype-egt,
.sF-file .sF-file-icon.sF-filetype-ess,
.sF-file .sF-file-icon.sF-filetype-fdb,
.sF-file .sF-file-icon.sF-filetype-fp,
.sF-file .sF-file-icon.sF-filetype-fp3,
.sF-file .sF-file-icon.sF-filetype-fp5,
.sF-file .sF-file-icon.sF-filetype-fp7,
.sF-file .sF-file-icon.sF-filetype-frm,
.sF-file .sF-file-icon.sF-filetype-gdb,
.sF-file .sF-file-icon.sF-filetype-gtable,
.sF-file .sF-file-icon.sF-filetype-kexi,
.sF-file .sF-file-icon.sF-filetype-kexic,
.sF-file .sF-file-icon.sF-filetype-myd,
.sF-file .sF-file-icon.sF-filetype-myi,
.sF-file .sF-file-icon.sF-filetype-ncf,
.sF-file .sF-file-icon.sF-filetype-nsf,
.sF-file .sF-file-icon.sF-filetype-ntf,
.sF-file .sF-file-icon.sF-filetype-nv2,
.sF-file .sF-file-icon.sF-filetype-odb,
.sF-file .sF-file-icon.sF-filetype-ora,
.sF-file .sF-file-icon.sF-filetype-pdb,
.sF-file .sF-file-icon.sF-filetype-pdi,
.sF-file .sF-file-icon.sF-filetype-pdx,
.sF-file .sF-file-icon.sF-filetype-prc,
.sF-file .sF-file-icon.sF-filetype-rec,
.sF-file .sF-file-icon.sF-filetype-rel,
.sF-file .sF-file-icon.sF-filetype-rin,
.sF-file .sF-file-icon.sF-filetype-sdb,
.sF-file .sF-file-icon.sF-filetype-sdf,
.sF-file .sF-file-icon.sF-filetype-sql,
.sF-file .sF-file-icon.sF-filetype-udl,
.sF-file .sF-file-icon.sF-filetype-wadata,
.sF-file .sF-file-icon.sF-filetype-waindx,
.sF-file .sF-file-icon.sF-filetype-wajournal,
.sF-file .sF-file-icon.sF-filetype-wamodel,
.sF-file .sF-file-icon.sF-filetype-wdb,
.sF-file .sF-file-icon.sF-filetype-wmdb,
.sF-file .sF-file-icon.sF-filetype-4DB,
.sF-file .sF-file-icon.sF-filetype-4DD,
.sF-file .sF-file-icon.sF-filetype-4DIndy,
.sF-file .sF-file-icon.sF-filetype-4DIndx,
.sF-file .sF-file-icon.sF-filetype-4DR,
.sF-file .sF-file-icon.sF-filetype-ADT,
.sF-file .sF-file-icon.sF-filetype-APR,
.sF-file .sF-file-icon.sF-filetype-BOX,
.sF-file .sF-file-icon.sF-filetype-CHML,
.sF-file .sF-file-icon.sF-filetype-DAF,
.sF-file .sF-file-icon.sF-filetype-DAT,
.sF-file .sF-file-icon.sF-filetype-DB,
.sF-file .sF-file-icon.sF-filetype-DBF,
.sF-file .sF-file-icon.sF-filetype-EGT,
.sF-file .sF-file-icon.sF-filetype-ESS,
.sF-file .sF-file-icon.sF-filetype-EAP,
.sF-file .sF-file-icon.sF-filetype-FDB,
.sF-file .sF-file-icon.sF-filetype-FP,
.sF-file .sF-file-icon.sF-filetype-FP3,
.sF-file .sF-file-icon.sF-filetype-FP5,
.sF-file .sF-file-icon.sF-filetype-FP7,
.sF-file .sF-file-icon.sF-filetype-FRM,
.sF-file .sF-file-icon.sF-filetype-GDB,
.sF-file .sF-file-icon.sF-filetype-GTABLE,
.sF-file .sF-file-icon.sF-filetype-KEXI,
.sF-file .sF-file-icon.sF-filetype-KEXIC,
.sF-file .sF-file-icon.sF-filetype-MYD,
.sF-file .sF-file-icon.sF-filetype-MYI,
.sF-file .sF-file-icon.sF-filetype-NCF,
.sF-file .sF-file-icon.sF-filetype-NSF,
.sF-file .sF-file-icon.sF-filetype-NTF,
.sF-file .sF-file-icon.sF-filetype-NV2,
.sF-file .sF-file-icon.sF-filetype-ODB,
.sF-file .sF-file-icon.sF-filetype-ORA,
.sF-file .sF-file-icon.sF-filetype-PDB,
.sF-file .sF-file-icon.sF-filetype-PDI,
.sF-file .sF-file-icon.sF-filetype-PDX,
.sF-file .sF-file-icon.sF-filetype-PRC,
.sF-file .sF-file-icon.sF-filetype-SQL,
.sF-file .sF-file-icon.sF-filetype-REC,
.sF-file .sF-file-icon.sF-filetype-REL,
.sF-file .sF-file-icon.sF-filetype-RIN,
.sF-file .sF-file-icon.sF-filetype-SDB,
.sF-file .sF-file-icon.sF-filetype-SDF,
.sF-file .sF-file-icon.sF-filetype-UDL,
.sF-file .sF-file-icon.sF-filetype-waData,
.sF-file .sF-file-icon.sF-filetype-waIndx,
.sF-file .sF-file-icon.sF-filetype-waModel,
.sF-file .sF-file-icon.sF-filetype-waJournal,
.sF-file .sF-file-icon.sF-filetype-WDB,
.sF-file .sF-file-icon.sF-filetype-WMDB,
.sF-file .sF-file-icon.sF-filetype-Rdata,
.sF-file .sF-file-icon.sF-filetype-rdata,
.sF-file .sF-file-icon.sF-filetype-RDS {
    content: url(icons/Icons16x16/page_white_database.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-4db,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-4dd,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-4dindx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-4dindy,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-4dr,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-adt,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-apr,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-box,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-chml,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-daf,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-db,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-dbf,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-eap,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-egt,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ess,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-fdb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-fp,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-fp3,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-fp5,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-fp7,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-frm,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-gdb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-gtable,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-kexi,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-kexic,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-myd,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-myi,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ncf,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-nsf,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ntf,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-nv2,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-odb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ora,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pdb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pdi,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pdx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-prc,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rec,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rel,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rin,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-sdb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-sdf,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-sql,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-udl,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-wadata,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-waindx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-wajournal,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-wamodel,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-wdb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-wmdb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-4DB,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-4DD,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-4DIndy,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-4DIndx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-4DR,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ADT,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-APR,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-BOX,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-CHML,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-DAF,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-DAT,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-DB,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-DBF,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-EGT,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ESS,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-EAP,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-FDB,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-FP,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-FP3,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-FP5,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-FP7,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-FRM,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-GDB,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-GTABLE,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-KEXI,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-KEXIC,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-MYD,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-MYI,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-NCF,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-NSF,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-NTF,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-NV2,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ODB,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ORA,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-PDB,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-PDI,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-PDX,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-PRC,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-SQL,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-REC,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-REL,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-RIN,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-SDB,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-SDF,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-UDL,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-waData,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-waIndx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-waModel,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-waJournal,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-WDB,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-WMDB,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-Rdata,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rdata,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-RDS {
    content: url(icons/Icons32x32/page_white_database.png);
}

.sF-file .sF-file-icon.sF-filetype-xlm,
.sF-file .sF-file-icon.sF-filetype-xlt,
.sF-file .sF-file-icon.sF-filetype-xlsx,
.sF-file .sF-file-icon.sF-filetype-xlsm,
.sF-file .sF-file-icon.sF-filetype-xltx,
.sF-file .sF-file-icon.sF-filetype-xltm,
.sF-file .sF-file-icon.sF-filetype-xlsb,
.sF-file .sF-file-icon.sF-filetype-xla,
.sF-file .sF-file-icon.sF-filetype-xlam,
.sF-file .sF-file-icon.sF-filetype-xll,
.sF-file .sF-file-icon.sF-filetype-xlw {
    content: url(icons/Icons16x16/page_white_excel.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xlm,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xlt,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xlsx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xlsm,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xltx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xltm,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xlsb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xla,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xlam,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xll,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-xlw {
    content: url(icons/Icons32x32/page_white_excel.png);
}

.sF-file .sF-file-icon.sF-filetype-h {
    content: url(icons/Icons16x16/page_white_h.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-h {
    content: url(icons/Icons32x32/page_white_h.png);
}

.sF-file .sF-file-icon.sF-filetype-ade,
.sF-file .sF-file-icon.sF-filetype-adp,
.sF-file .sF-file-icon.sF-filetype-adn,
.sF-file .sF-file-icon.sF-filetype-accdb,
.sF-file .sF-file-icon.sF-filetype-accdr,
.sF-file .sF-file-icon.sF-filetype-accdt,
.sF-file .sF-file-icon.sF-filetype-cdb,
.sF-file .sF-file-icon.sF-filetype-mda,
.sF-file .sF-file-icon.sF-filetype-mdn,
.sF-file .sF-file-icon.sF-filetype-mdt,
.sF-file .sF-file-icon.sF-filetype-mdw,
.sF-file .sF-file-icon.sF-filetype-mdf,
.sF-file .sF-file-icon.sF-filetype-mde,
.sF-file .sF-file-icon.sF-filetype-accde,
.sF-file .sF-file-icon.sF-filetype-mam,
.sF-file .sF-file-icon.sF-filetype-maq,
.sF-file .sF-file-icon.sF-filetype-mar,
.sF-file .sF-file-icon.sF-filetype-mat,
.sF-file .sF-file-icon.sF-filetype-maf,
.sF-file .sF-file-icon.sF-filetype-ldb,
.sF-file .sF-file-icon.sF-filetype-laccdb {
    content: url(icons/Icons16x16/page_white_office.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ade,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-adp,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-adn,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-accdb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-accdr,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-accdt,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-cdb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mda,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mdn,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mdt,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mdw,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mdf,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mde,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-accde,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mam,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-maq,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mar,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mat,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-maf,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ldb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-laccdb {
    content: url(icons/Icons32x32/page_white_office.png);
}

.sF-file .sF-file-icon.sF-filetype-PHP,
.sF-file .sF-file-icon.sF-filetype-php,
.sF-file .sF-file-icon.sF-filetype-phtml,
.sF-file .sF-file-icon.sF-filetype-php4,
.sF-file .sF-file-icon.sF-filetype-php3,
.sF-file .sF-file-icon.sF-filetype-php5,
.sF-file .sF-file-icon.sF-filetype-phps {
    content: url(icons/Icons16x16/page_white_php.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-PHP,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-php,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-phtml,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-php4,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-php3,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-php5,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-phps {
    content: url(icons/Icons32x32/page_white_php.png);
}

.sF-file .sF-file-icon.sF-filetype-tiff,
.sF-file .sF-file-icon.sF-filetype-jif,
.sF-file .sF-file-icon.sF-filetype-jfif,
.sF-file .sF-file-icon.sF-filetype-jp2,
.sF-file .sF-file-icon.sF-filetype-jpx,
.sF-file .sF-file-icon.sF-filetype-j2k,
.sF-file .sF-file-icon.sF-filetype-j2c,
.sF-file .sF-file-icon.sF-filetype-fpx,
.sF-file .sF-file-icon.sF-filetype-pcd {
    content: url(icons/Icons16x16/page_white_picture.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-tiff,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-jif,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-jfif,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-jp2,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-jpx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-j2k,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-j2c,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-fpx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pcd {
    content: url(icons/Icons32x32/page_white_picture.png);
}

.sF-file .sF-file-icon.sF-filetype-pot,
.sF-file .sF-file-icon.sF-filetype-pptx,
.sF-file .sF-file-icon.sF-filetype-pptm,
.sF-file .sF-file-icon.sF-filetype-potx,
.sF-file .sF-file-icon.sF-filetype-potm,
.sF-file .sF-file-icon.sF-filetype-ppam,
.sF-file .sF-file-icon.sF-filetype-ppsx,
.sF-file .sF-file-icon.sF-filetype-ppsm,
.sF-file .sF-file-icon.sF-filetype-sldx,
.sF-file .sF-file-icon.sF-filetype-sldm {
    content: url(icons/Icons16x16/page_white_powerpoint.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pot,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pptx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pptm,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-potx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-potm,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ppam,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ppsx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ppsm,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-sldx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-sldm {
    content: url(icons/Icons32x32/page_white_powerpoint.png);
}

.sF-file .sF-file-icon.sF-filetype-rb,
.sF-file .sF-file-icon.sF-filetype-rbw {
    content: url(icons/Icons16x16/page_white_ruby.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rbw {
    content: url(icons/Icons32x32/page_white_ruby.png);
}

.sF-file .sF-file-icon.sF-filetype-svg,
.sF-file .sF-file-icon.sF-filetype-drw {
    content: url(icons/Icons16x16/page_white_vector.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-svg,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-drw {
    content: url(icons/Icons32x32/page_white_vector.png);
}

.sF-file .sF-file-icon.sF-filetype-dot,
.sF-file .sF-file-icon.sF-filetype-docx,
.sF-file .sF-file-icon.sF-filetype-docm,
.sF-file .sF-file-icon.sF-filetype-dotx,
.sF-file .sF-file-icon.sF-filetype-dotm {
    content: url(icons/Icons16x16/page_white_word.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-dot,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-docx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-docm,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-dotx,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-dotm {
    content: url(icons/Icons32x32/page_white_word.png);
}

.sF-file .sF-file-icon.sF-filetype-deb,
.sF-file .sF-file-icon.sF-filetype-pkg,
.sF-file .sF-file-icon.sF-filetype-rpm,
.sF-file .sF-file-icon.sF-filetype-tar,
.sF-file .sF-file-icon.sF-filetype-zipx {
    content: url(icons/Icons16x16/page_white_zip.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-deb,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-pkg,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-rpm,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-tar,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-zipx {
    content: url(icons/Icons32x32/page_white_zip.png);
}

.sF-file .sF-file-icon.sF-filetype-amv,
.sF-file .sF-file-icon.sF-filetype-avi,
.sF-file .sF-file-icon.sF-filetype-moov,
.sF-file .sF-file-icon.sF-filetype-qt {
    content: url(icons/Icons16x16/film.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-amv,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-avi,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-moov,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-qt {
    content: url(icons/Icons32x32/film.png);
}

.sF-file .sF-file-icon.sF-filetype-iff,
.sF-file .sF-file-icon.sF-filetype-mp3,
.sF-file .sF-file-icon.sF-filetype-mpa,
.sF-file .sF-file-icon.sF-filetype-ra,
.sF-file .sF-file-icon.sF-filetype-flac,
.sF-file .sF-file-icon.sF-filetype-act,
.sF-file .sF-file-icon.sF-filetype-aac,
.sF-file .sF-file-icon.sF-filetype-mmf {
    content: url(icons/Icons16x16/music.png);
}
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-iff,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mp3,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mpa,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-ra,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-flac,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-act,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-aac,
.sF-fileList.sF-icons .sF-file .sF-file-icon.sF-filetype-mmf {
    content: url(icons/Icons32x32/music.png);
}

